streamlit==1.30.0
fastapi==0.111.0
uvicorn==0.30.1
pandas==2.2.2
Pillow==10.3.0
opencv-python-headless==4.9.0.80
easyocr==1.7.1
numpy==1.26.4
python-multipart==0.0.9
scikit-learn==1.4.2
python-telegram-bot==20.0
torch==2.0.1           # faqat shunchaki torch, +cpu yo'q
setuptools>=42
wheel
